
@{
    ViewData["Title"] = "SignUp";
}
<h1>Sign Up</h1>

<p>
    Please enter your details in below. Enter in your First Name, Last Name and Email Address to create an account.
</p>

<form action="SignUp" method="post">
    <p>Sign Up</p>
    <input type="text" name="FirstName" placeholder="First Name" required>
    <input type="text" name="LastName" placeholder="Last Name" required>
    <input type="email" name="Email" placeholder="email@example.com" required>
    <button type="submit">Register</button>
</form>