@{
    ViewData["Title"] = "insert";
}
<div class="box1">
    <h1 class="header-About">Insert Products</h1>
<p>
    Please enter below the details of a product to add to the website.
</p>

<body>
    <form action="insert" method="post">
               <input type="text" name="ProductName" placeholder="ProductName" required>
        <input type="number" name="Price" placeholder="Price" required>
        <input type="text" name="Description" placeholder="Description" required>
        <input type="text" name="QuantityInStock" placeholder="Quantity In Stock" required>
        <input type="text" name="ImagePath" placeholder="Images/turtle 1.png" required>
        <input type="text" name="Category" placeholder="Category" required>
        <button type="submit">Insert</button>
    </form>
</body>
</div>