@{
    ViewData["Title"] = "AboutUs";
}

<div class="box1">
    <img src="~/Images/KhumaloCraft Emporium logo.png" class="logo-Img" alt="KhumaloCraft Emporium logo" />

    <h1 class="header-About">
        About Us
    </h1>
    <h3>Our Story</h3>
    <p>
        Khumalo Craft Emporium is the was founded by James Khumalo. James is a visionary entrepreneur who has a passion for highlighting crafts and creativity of artisans.
        from all over the world. As a visionary entrepreneur James saw the gap in the market for artisans. In a world where we are surrounded by mass produced
        items there is a demand for one-of-a-kind pieces that have been delicately hand crafted, with the power of skilful hands and passion behind it not the want for money.
        It can be difficult for artisans to find a platform and build an audience to display their work. That is where James came up with the idea for Khumalo Craft
        - an e-commerce emporium where the one-of-a-kind creative works of artisans could find a global market. From detailed crochet pieces to outstanding knitted apparel, intricate paintings , our online platform celebrate the diversity of crafting.
    </p>
    <br />
    <br />
    <h3>Mission</h3>
    <p>
        To create a community to connect artisans with customers who have appreciation for their work. This website provides a platform to display individually handcrafted items and find potential customers.
        The aim is to provide a means by which talented artisans can make a living out of a hobby or passion.

    </p>
    <br />
    <br />

    <h3>Our Platform</h3>
    <p>
        Our platform is created through the power of cloud computing.
        The Khumalo Craft platform has to been designed to allow for scalability, security, and accessibility for artisans and customers across the world. The platform has been designed with a user-friendly interface to allow for users to display their products with ease and customers can easily browse the platform to purchase unique crafts.

    </p>
    <br />
    <p>
        We value our clients and customers and are committed to always improving our platform, adding features like searching, notifications,
        and automations to enhance the overall experience on our platform.
    </p>
    <br />

    <br />
    <h3>Join the community</h3>
    <p>
        No matter if you a talented craftsman looking to build up your portfolio and showcase your work, or you are a customer looking to show support to the talented artisans,
        please feel welcomed to Khumalo Craft.
    </p>

    <p>
        Explore our emporium today and immerse yourself in the passion and craftsmanship of our talented artisans.
        Khumalo Craft empowering artisans worldwide!
    </p>
    <div class="webpageButtons">
        <a asp-action="ContactUs">
            <button>Contact Us</button>
        </a>
    </div>
</div>