@{
    ViewData["Title"] = "ContactUs";
}

<h1 class="header-Contact">
    Open doors to endless possibilities.
    <br />
    Reach out today!
</h1>
<div class="box1">
    <h1>Contact Us</h1>
    <p>Please feel free to reach out to us for any enquiries.</p>
    <div class="box-container">
        <div class="box2">
            <img src="~/Images/Mail logo.png" class="iconImg" alt="Mail icon" />
            <div class="box3">
                <h5>Mail us at:</h5>
                <p>khumalocraft.emporium@gmail.com</p>
            </div>
        </div>
        <div class="box2">
            <img src="~/Images/Phone logo.png" class="iconImg" alt="Phone icon" />
            <div class="box3">
                <h5>Call us on:</h5>
                <p> +27 12 345 6789</p>
            </div>
        </div>
    </div>
</div>