@{
    ViewData["Title"] = "Home Page";
}
<div class="header-Home">
    <div class="header-IMG">
        <img src="~/Images/homeheader.png" />
    </div>

    <div class="header-content">
        <div class="home-heading">
            Welcome to
            <br />
            Khumalo Craft Emporium
            <div class="webpageButtons">
                <a asp-action="MyWork">
                    <button>Browse products</button>
                </a>
            </div>

        </div>


    </div>
</div>
