@model ST10258400_Erin_CLDV_POE.Models.UserTable
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1>Login</h1>
    <p>
        If you do not already have an account, you may <a href="@Url.Action("SignUp", "User")">Register</a> for a new account by following the underlined link.
    </p>
</div>

<div class="container">
    <form action="MyWork" method="post">
        <p>Login Up</p>
        <input type="text" name="FirstName" placeholder="First Name" required>
        <input type="text" name="LastName" placeholder="Last Name" required>
        <input type="email" name="Email" placeholder="email@example.com" required>
        <button type="submit">Login</button>
    </form>
</div>