
@{
    ViewData["Title"] = "Notification";
}
<div class="box7">

    <h1 class="header-About">
        Notifications
    </h1>
    
    <div class="horizontal_line"></div>
   </br>
    <div >
        
        <div >
            <h3 class="header-notifiy">Order Confirmation</h3>
            <p>Your order #12345 has been placed successfully.
                <br />
                Estimated delivery date: 20 April, 2024</>
        </div>
        <div >
            <h3 class="header-notifiy">Shipping Update</h3>
            <p>Your order #12345 has been shipped.
                <br />
                Tracking number: 1234567890
                <br />
                Estimated delivery date: 20 April, 2024
            </p>
        </div>
        
    </div>
</div>