@{
    ViewData["Title"] = "Wishlist";
}

<div class="box1">
    <h1 class="header-About">Wishlist</h1>
    <div class="work-grid">
        <div class="work-item">
            <img src="~/Images/cow.png" alt="Cow">
            <h4>Cow</h4>
            <p>Item Description: Hand crafted crochet cow. Measures 22cm x 16cm. Made with black and white acrylic wool. </p>
            <p>Price: R 250</p>
            <button>Add to Cart</button>
            <div class="webpageButtons">
                <button>Remove from Wishlist</button>
            </div>
        </div>

        <div class="work-item">
            <img src="~/Images/pineapple.png" alt="Pineapple">
            <h3>Pineapple</h3>
            <p>Item Description: Hand crafted pineapple made from acrylic wool, Measures 15cm x 11 cm.</p>
            <p>Price: R 200</p>
            <button>Add to Cart</button>
            <div class="webpageButtons">
                <button>Remove from Wishlist</button>
            </div>
        </div>

        <div class="work-item">
            <img src="~/Images/purple cow.png" alt="Purple Cow">
            <h4>Purple cow</h4>
            <p>Item Description: Hand crafted crochet cow. Measures 22cm x 16cm. Made with purple and turquoise acrylic wool.</p>
            <p>Price: R 250</p>
            <button>Add to Cart</button>
            <div class="webpageButtons">
                <button>Remove from Wishlist</button>
            </div>
        </div>
           
   </div>
</div>